img {
  width: 180px;
  height: 180px;
}

.card > .img-container {
  width: 90%;
  height: 90%;
  text-align: center;
  padding: 20px;
}

.card {
  margin: 10px 5px;
}

.card:hover {  
  transform: scale(1.05);
  cursor: pointer;
}